@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,900&display=swap');
*{
  margin: 0;
  font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Work Sans', sans-serif;
}
header{
  max-width: 1320px;
  margin: 0px auto;
  margin-top: 40px;
}
.banar-image{
  position: relative;
}

.banar-image img{
  max-width: 100%;
  height: auto;
  margin-top: 90px;
}
.banar-title{
  position: absolute;
  top: 41%;
  left: 380px;
  width: 550px;
  align-items: center;
  text-align: center;
  /* text-align: justify; */
}

.banar-title h3{
  font-size: 32px;
  color: #fff;
}
.banar-title h2{
  color: #fff;
  font-size: 72px;
  line-height: 95px
}

main{
  
  margin-top: 100px;
  max-width: 1320px;
  margin: 0px auto;
}
.discount-product{
  text-align: center;
  margin-top: 20px;
}
.discount-title{
  color: #F00;
  font-size: 88px;
  margin-bottom: 30px;
  font-weight: 700;
}
.discount-detail{
  color: #F00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.descount-sals{
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* welcom  */

.welcome-logo{
  position: relative;
}

.welcome-logo img{
  max-width: 100%;
  height: auto;
  margin-top: 90px;
}
.welcome-note{
  position: absolute;
  top: 32%;
  left: 126px;
  width: 630px;
  /* text-align: justify; */
}
.welcome-title {
  width: 640px;
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7px;
}
.welcome-description{
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 20px;
}  




.btn-primary{
  color: #FFF;
  margin-left: 6px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  border: none;
}
.welcome-heading{
  width: 393px;
}

/* new offer  */


.welcom-grope{
  /* max-width: 1320; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  gap: 50px;
  margin-top: 80px;
}
.welcome-year{
  color: #F00;
  font-size: 48px;
}
.welcome-heading{
  color: #F00;
  font-size: 24px;
}

.circle-1{
  height: 460px;
  width: 460px;
  border: 15px solid #F00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-heading h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  text-transform: capitalize;
}
.welcome-heading p{
  color: rgba(7, 2, 17, 0.60);
  font-size: 20px;
  line-height: 32px
}
.welcome-image{
  margin-top: 20px;
}








.portfelo-imag{
  width: 1320px;
  text-align: center;
}
 .image-item{
  text-align: justify;
 }
 .image-gift{
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 80px;
 }
 .image-title{
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 15px;
 }
 .image-description{
  width: 896px;
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 15px;
 }

 /* six-images */
 .six-images{
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  gap: 15px;
 }
 

 .six-images img{
  width: 424px;
  height: 450px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.5s;
 }
 .six-images img:hover {
  border: 2px solid rgb(153, 158, 152);
  transition: 0.5c;
 }


 /* user-gmail */
 .user-gmail{
  width: 1320;
  height: 600px;
  background-color: rgba(255, 0, 0, 0.05);
  margin-top: 80px;
  text-align: center;
  padding: 50px 80px;
  border-radius: 16px;
 }
 .user-gmail img{
  margin-top: 50px;
  margin-bottom: 40px;
 }
 .user-gmail h2{
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 50px;
 }
 .user-gmail p{
  width: 896px;
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 0 120px;
  margin-bottom: 50px;
 }
 label{
  position: relative;
 }
 input{
  border: none;
  padding: 20px 0px;
  padding-right: 120px;
  padding-left: 30px;
  border-radius: 50px 0px 0px 50px;
 }
 button{
  position: absolute;
  border: none;
  padding: 20px 50px;
  background-color: #F00;
  border-radius: 0px 50px 50px 0px;
  color: #FFF;
 }


 /* footer  */
 footer{
  max-width: 1900px;
  height: 600px;
  margin: 0px auto;
  background-color: #000000;
  margin-top: 100px;
 }
 .socail-icon{
  margin: 40px auto;
 }
 .adress{
  display: inline;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin: 0px 250px;

 }
 .address-write p{
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin: 80px 0px;
  width: 400px;
 }
 .number{
  margin-top: 150px;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  margin: 80px 0px;
 }
 .basi-logo{
  display: flex;
 }
 .basi-logo img{
  margin-right: 20px;
 }

 /* logo icon  */
 

 hr{
  margin: 0px 250px;
  margin-bottom: 50px;
 }
 .socail-icon img{
  align-items: center;
  margin-right: 10px;
 }
 .socail-icon{
  text-align: center;
 }

 .copy-uns{
  display: flex;
  justify-content: space-between;
  margin: 0px 250px;
 }
 .reserved{
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
 }
 .unscribe{
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
 }