@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,900&display=swap');
*{
  margin: 0;
  font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Work Sans', sans-serif;
}
header{
  text-align: center;
  margin-top: 30px;
}
.banner-card{
  position: relative;
  
}
.banner-card img{
  max-width: 100%;
  height: auto;
  background-color: aqua;

  
}
.banar-title {
  position: absolute;
  left: 33%;
  top: 25%;
  width: 630px;
}

.banar-title h3{
  font-size: 32px;
  color: #fff;
}
.banar-title h2{
  color: #fff;
  font-size: 72px;
  line-height: 95px
}

main{
  text-align: center;
  margin-top: 100px;
}
.discount-title{
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 88px;
  margin-bottom: 30px;
  font-weight: 700;
}
.discount-detail{
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.descount-sals{
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* welcom  */

.welcome-logo{
  position: relative;
}

.welcome-logo img{
  max-width: 100%;
  height: auto;
  margin-top: 90px;
}
.welcome-note{
  position: absolute;
  top: 32%;
  left: 20%;
  width: 630px;
  text-align: justify;
}
.welcome-title {
  width: 640px;
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7px;

}
.welcome-description{
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 40px;
}  


.btn-primary{
  color: #FFF;
  font-family: Inter;
  margin-left: 20px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  border: none;
}
 section{
  display: inline-block;
 }


.portfelo-imag{
  width: 1320px;
  text-align: center;
}
 .image-item{
  text-align: justify;
 }
 .image-gift{
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 80px;
 }
 .image-title{
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 15px;
 }
 .image-description{
  width: 896px;
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 15px;
 }

 /* six-images */
 .six-images{
  display: flex;
  margin-top: 40px;
  
 }
 

 .six-images img{
  width: 424px;
  height: 450px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.5s;
 }
 .six-images img:hover {
  border: 2px solid rgb(153, 158, 152);
  transition: 0.5c;
 }


 /* user-gmail */
 .user-gmail{
  width: 1320;
  height: 600px;
  background-color: rgba(255, 0, 0, 0.05);
  margin-top: 80px;
  text-align: center;
  padding: 50px 80px;
  border-radius: 16px;
 }
 .user-gmail img{
  margin-top: 50px;
  margin-bottom: 40px;
 }
 .user-gmail h2{
  olor: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 50px;
 }
 .user-gmail p{
  width: 896px;
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 0 120px;
  margin-bottom: 50px;
 }